@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
/* ---------------------- Variables */
:root {
    --green-color: #7ACC2D;
    --white-color: white;
    --black-color: #313337;
    /* Tipografìa */
    --normal: 12px;
    /* Espaciado */
    --space: 10px;
    --space-2: 20px;
    --box: 0px 0 2px 1px #e6e5e9;
}

/* ------------------- Fin variables */

html, body {
    padding: 0px;
    margin: 0px;
    font-size: var(--normal);
    font-family: 'Open Sans', sans-serif;
}

p {
    color: var(--black-color);
}

label {
    font-size: var(--normal);
    padding-bottom: 5px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space);
    color: var(--white-color);
    background-color: var(--green-color);
}

nav ul {
    display: flex;
}

nav li {
    padding-left: 20px;
    list-style: none;
}

nav li a {
    color: var(--black-color);
    text-decoration: none;
}

nav li a:hover {
    color: var(--white-color);
}

/* Fin del Navbar */

/* Comienzo del Main */

.main_section {
    padding: 10%;
    text-align: center;
}

.products {
    background-image: url("../images/curve.png");
    max-height: 50px;
    background-size: cover;
    background-position: center top;
    padding: 10%;
    display: flex;
    justify-content: center;
}

.product {
    padding: var(--space);
    margin-top: -260px;
}

.product .content {
    background-color: var(--white-color);
    padding: var(--space);
    box-shadow: var(--box);
    text-align: center;
}

.img_content {
    text-align: center;
}

.main_button {
    background-color: var(--green-color);
    width: 100%;
    padding: var(--space);
    font-size: var(--normal);
    color: var(--white-color);
    border: 0;
    cursor: pointer;
    border-radius: 2px;
}

.main_button:hover {
    background-color: #5e9e22;
}

/* -------------- Features */

.features {
    display: flex;
    justify-content: center;
    padding: 20px;
    color: var(--black-color);
}

.feature {
    max-width: 200px;
    padding: 10px;
    margin: 200px 50px 100px 50px;
    text-align: center;
}

.feature .content {
    padding: 10px;
}

.feature img {
    max-height: 115px;
    max-width: 140px;
}

.feature h1 {
    padding-top: 15px;
    font-size: 17px;
}

/* ------------------ Menciones */

.mencion_title {
    border-top: solid #e6e5e9 1px;
    padding: 3%;
    text-align: center;
    color: var(--black-color);
}

.menciones {
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--black-color);
}

.mencion {
    /* border: 1px solid red; */
    margin: 0px 5px 100px 5px;
    box-shadow: 4px 4px 8px #8d8d8f;
}

/* ------------------------ Venta */
.venta_container {
    display: flex;
    justify-content: center;
    padding: 150px 0 400px 0;
}

.venta {
    box-shadow: var(--box);
    text-align: center;
    max-width: 300px;
    margin-right: 5px;
}

/* ----------------------- Formulario */

.form_venta {
    background-color: var(--white-color);
    box-shadow: var(--box);
    padding: var(--space-2);
    margin-left: 5px;
}

.form_venta label {
    font-size: 1.1em;
    color: var(--black-color);
}

.form_venta form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.form_venta input {
    border: 0;
}

.form_venta .field {
    border: solid 1px #ccc;
    padding: var(--space);
    margin-bottom: 10px;
}

.form_venta .field:focus {
    border: 1px solid var(--green-color);
}

.btn {
    border-radius: 2px;
    display: inline-block;
    width: 100%;
    padding: var(--space);
    font-size: var(--normal);
    border: 0;
    margin-top: 10px;
    cursor: pointer;
}

.btn-green {
    color: var(--white-color);
    background-color: var(--green-color);
}

.btn-green:hover {
    background-color: #5e9e22;
}

.btn-green:active {
    background-color: #29962A;
}

/* ------------------------ Footer */

footer {
 background: #313337;
 padding: 10px;   
}

footer ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

footer li {
    list-style: none;
}

footer ul li a {
    text-decoration: none;
    color: var(--white-color);
}