@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
/* ---------------------- Variables */
:root {
    --green-color: #7ACC2D;
    --white-color: white;
    --black-color: #313337;
    /* Tipografìa */
    --normal: 12px;
    /* Espaciado */
    --space: 10px;
    --box: 0px 0 2px 1px #e6e5e9;
}

/* ------------------- Fin variables */

html, body {
    padding: 0px;
    margin: 0px;
    font-size: var(--normal);
    font-family: 'Open Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space);
    color: var(--white-color);
    background-color: var(--green-color);
}

nav ul {
    display: flex;
}

nav li {
    padding-left: 20px;
    list-style: none;
}

nav li a {
    color: var(--black-color);
    text-decoration: none;
}

nav li a:hover {
    color: var(--white-color);
}

/* Fin del Navbar */

/* Comienzo del Main */

.main_section {
    padding: 10%;
    text-align: center;
}

.products {
    background-image: url("../images/curve.png");
    max-height: 50px;
    background-size: cover;
    background-position: center top;
    padding: 10%;
    display: flex;
    justify-content: center;
}

.product {
    padding: var(--space);
    margin-top: -260px;
}

.product .content {
    background-color: var(--white-color);
    padding: var(--space);
    box-shadow: var(--box);
    text-align: center;
}

.img_content {
    text-align: center;
}

.main_button {
    background-color: var(--green-color);
    width: 100%;
    padding: var(--space);
    font-size: var(--normal);
    color: var(--white-color);
    border: 0;
    cursor: pointer;
    border-radius: 2px;
}

.main_button:hover {
    background-color: #5e9e22;
}

/* -------------- Features */

.features {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.feature {
    max-width: 200px;
    padding: 10px;
    margin: 200px 50px 100px 50px;
    text-align: center;
}

.feature .content {
    padding: 10px;
}

.feature img {
    max-height: 115px;
    max-width: 140px;
}

.feature h1 {
    padding-top: 15px;
    font-size: 17px;
}
