.grid_product_r {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: auto auto;
    margin: 40px 0;
}

.grid_product_l {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: auto auto;
}

.img_content img {
    max-width: 275px;
    max-height: 250px;
}

.description_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.description_content h3 {
    padding-left: 40px;
    font-size: 1.7em;
}

.description_content p {
    padding-left: 40px;
    font-size: 1.3em;
}