body {
    padding: 0;
    margin: 0;
    color: var(--white-color);
    background-color: var(--black-color);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

p {
    color: var(--white-color);
}

.content_paypal a {
    color: var(--green-color);
    text-decoration: none;
}